body, html {
  background: #E3FAFF;
  box-sizing: border-box;
  font: menu;
}

.cards {
  max-width: 450px;
  padding: 2em;
  margin: auto;
}

.card {
  margin-bottom: 2em;
  height: 80px;
  padding: 2em 1em;

  background: #FFFFFF;
  border: 1px solid rgb(225, 225, 255);
  box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.3);
  font-size: 1.8em;
  font-weight: 300;

  display: flex;
  align-items: center;
  justify-content: space-around;
}
