body, html {
  background: #E3FAFF;
  box-sizing: border-box;
  font: menu;
}

.cards {
  max-width: 500px;
  margin: auto;
}

.card {
  margin-bottom: 2em;
  padding: 2em 1em;

  background: #FFFFFF;
  border: 1px solid #979797;
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.40);
  font-size: 1.8em;
  font-weight: 300;
  text-align: center;
}
